*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hero {
    display: flex;
    min-height: 100vh;
    justify-content: start;
    align-items: center;    
}

section {
    background-image:linear-gradient(-60deg, rgba(0, 0, 0, 0.688), black), url(./assets/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    width: 45%;
    height: 50%;
    color: white;
    margin-left: 6rem;  
}

.container > h1 {
    font-size: 3rem;
}

.container > p {
    font-size:1.3rem;
    padding: 0.6rem 0;
    width: 80%;
}

.cta{
    padding-bottom: 2rem;
    margin: 1rem 0;
}

.cta  > button{
    padding: 0.8rem 3rem;
    border-radius: 0.6rem;
    border: none;
}

.reg {
    margin-left: 0.5rem;
    background-color: transparent;
    color: brown;
    font-weight:bold ;
    outline: 2px solid brown;
}

.learn {
    background-color: brown;
    font-weight:bold ;
    color: white;
}

.reg:hover{
    background-color: brown;
    font-weight:bold ;
    color: white; 
}

.learn:hover{
    background-color: transparent;
    color: brown;
    font-weight:bold ;
    outline: 2px solid brown;
}


/* ..........................
Styling for the footer
.............................. */
.contain-foot {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 3rem;
}




/* ..........................
Styling end for the footer
.............................. */








/* ..........................
Media query
.............................. */


@media screen  and (max-width:770px){
    .container {
        width: 90%;
        height: 50%;
        color: white;
    }
}


@media screen  and (max-width:430px){
    .container {
        width: 90%;
        height: 50%;
        color: white;
        margin: 3rem 1rem;
    }

    .container > h1 {
        font-size: 2.3rem;
    }
    .container > p{
        font-size: 1.1rem;
    }

    .cta  > button{
        padding: 0.8rem 3rem;
        border-radius: 0.6rem;
        border: none;
        display: block;
        margin: 1rem 0;
    }
}


@media screen  and (max-width:390px){
    .cta  > button{
        padding: 0.8rem 3rem;
        border-radius: 0.6rem;
        border: none;
        display: block;
        margin: 1rem 0;
    }
}

.information {
    display: flex;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
}

.info {
    width: 60%;
    height: 45%;
    color: white;
    margin-left: 6rem;
    display: flex;
}

.info > p {
    font-size: 1.3rem;
    padding: 0.6rem 0;
    width: 80%;
}

.info > h1 {
    font-size: 3rem;
}

.btn {
    padding-bottom: 2rem;
    margin: 1rem 0;
}

.btn > button{
    padding: 0.8rem 3rem;
    border-radius: 0.6rem;
    border: none;
}

